.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 427px);
}
.thanks__popup {
  width: 100%;
  max-width: 505px;
  min-height: 423px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks__popup h2 {
  font-family: Atyp Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.thanks__popup h2  span {
  color: rgb(99, 150, 227)
}
.thanks__popup a {
  padding: 12px 23px;
  border-radius: 90px;
  background-color: #0047B1;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.thanks__popup a span {
  color:#FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-transform: uppercase;
}
.ico-arrow {
  display: inline-block;
  width: 9px;
  height: 18px;
  margin-left: 10px;
  background: url('../img/arrow.svg') center bottom no-repeat;
}
.wrapper {
  position: relative;
}
.marketsummary {
  margin-top: 150px;
}
.marketcarousel {
  box-sizing: border-box;
  background-color: #1f2030;
  padding: 26px 0 0;
  width: 100%;
  height: 170px;
  max-width: none !important;
  margin: 48px 0 120px;
}
.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 120px; */
  width: 1880px;
  position: absolute;
  padding: 0 8px;
}
.currency__item {
  padding: 34px 12px;
  width: 340px;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
}
@keyframes home_lang_1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes home_lang_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.currency-1 {
  animation: 40s home_lang_1 infinite linear;
}

.currency-2 {
  animation: 40s home_lang_2 infinite linear;
}
.currency__image {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  object-fit: contain;
}
.currency__name {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #0e0f1f;
  margin: 0;
}

.currency__info {
  display: flex;
  align-items: center;
}
.currency__price {
  font-size: 14px;
  line-height: 16px;
  color: #0e0f1f;
  font-weight: 300;
  margin: 0;
}
.currency__price span {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #0e0f1f;
  padding-right: 3px;
  margin: 0;
}
.currency__percent-block {
  color: #a51731;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 0 20px;
}
.currency__sign {
  display: none;
}
.currency__percent-block.positive {
  color: #17a58d;
}
.positive .currency__sign {
  display: inline-block;
}

/* FIXES */

.inp1_wrp {
  //width: 240px;
}

.inp1::placeholder {
  padding-left: 8px;
}
.inp1 {
  //padding: 13px 0 13px 16px;
}

@media screen and (max-width: 1410px) {
  * {
    box-sizing: border-box;
  }
  .contactus__info h1 {
    font-size: 37px;
    line-height: 120%;
    max-height: none;
  }
  .contactus__img-1 {
    height: 500px;
  }
  .contactus__info h2 {
    font-size: 28px;
    line-height: 40px;
    max-height: none;
  }
  .header .container {
    padding: 0 20px;
  }
  .header__call {
    font-size: 14px;
  }
  .header__menu a {
    font-size: 16px;
  }
  .formv1 {
    width: 100%;
  }
  .contactus .container, .principal .container, .btmform .container, .footer .container, .bigguys .container, .marketsummary .container, .tos .container   {
    padding: 0 20px;
    max-width: 100%;
  }
  .principal__info {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1160px) {
  .ourservices__info1 {
    width: 100%;
  }
  .ourservices__title h2, .benefits .container h2, .marketsummary h2 {
    font-size: 32px;
    line-height: 45px;
    text-align: left;
  }
  .benefits .container h2 {
    padding: 32px 0 20px;
  }
  .bigguys__info h2 {
    font-size: 37px;
    line-height: 120%;
    text-align: center;
    padding: 54px 0 32px;
  }
  .ourservices__info1-text h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .ourservices__title {
    width: 100%;
    height: auto;
  }
  .ourservices__info1 {
    padding-bottom: 48px;
  }
  .ourservices__info1-text, .ourservices__info2-text {
    max-width: 100%;
  }
.ourservices__info2-img, .ourservices__info1-img {
  margin-top: 32px;
}
  .ourservices__info2 {
    width: 100%;
  }
  .marketsummary {
    margin-top: 58px;
  }
  .marketcarousel {
    margin: 24px 0 70px;
  }
}
@media screen and (max-width: 960px) {
  .thanks__popup {
    padding: 48px 20px;
  }
  .principal__info {
    margin-right: 0;
  }
  .header__logo {
    width: 122px;
    height: 50px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .benefits .container {
    padding: 0 20px 24px;
  }
  .benefits__card {
    width: 100%;
    min-width: 0;

  }
  .benefits__card img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
  }
  .btmform  .container {
    padding: 48px 0;
  }
  .bigguys__info-pictures {
    flex-wrap: wrap;
    height: auto;
  }
  .bigguys__info-pictures img {
    margin-bottom: 16px;
  }
  .bigguys__info-pictures img:nth-child(2) {
    display: none;
  }
  .btmform .container {
    padding: 48px 20px;
    max-width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .contactus__img-1 {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .contactus__img-1 img {
    width: 100%;
    height: auto;
    aspect-ratio: 733/810;
    object-fit: contain;
  }
  .contactus {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .contactus__info {
    width: 100%;
  }
  .formv1 {
    width: 100%;
  }
}
