body {
	background-color: #fff;
	font-family: 'Atyp Text';
}
.wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.container{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.header{
	width: 100%;
	padding: 20px 0;
	.container {
		max-width: 1440px;
		display: flex;
		align-items: center;
		justify-content: space-between;
    }
}
.header__menu{
	border-radius: 590px;
	border: 0.5px solid var(--bg-dark-text, #0E0F1F);
	padding: 12px 32px;
	transition: 0.24s;
	&:hover {
		border: 0.5px solid var(--bg-dark-text, #7540EF);
		color: #7540EF;
  }
	a {
		color: var(--bg-dark-text, #0E0F1F);
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
		text-transform: uppercase;
		transition: 0.24s;
		margin: 0px 8px;
		&:hover{
			 color: #7540EF;
		}
  }
}
.header__call{
	display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 99px;
    background: var(--main, #7540EF);
    padding: 12px 23px 10px 23px;
    transition: 0.24s;
    &:hover {
        opacity: 0.8;
    }
}
//												CONTACT US//////////////////////
.contactus {
	padding-top: 80px;
	.container{
		max-width: 1440px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.formv1 {margin-left: 0;}
		.inp1 {background-color: #3C3C50;}
	}
}

.contactus__info{
	width: 100%;
	max-width: 791px;
	margin-left: 10px;
	h1{
		max-width: 791px;
		max-height: 148px;
		margin-bottom: 32px;
		font-family: Atyp Display;
		font-size: 64px;
		font-weight: 500;
		line-height: 74px;
		letter-spacing: 0em;
		text-align: left;
	}
	h2{
		max-width: 791px;
		max-height: 96px;
		font-family: Atyp Display;
		font-size: 40px;
		font-weight: 500;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
		color: #6396E3;
	}
	p{
		font-family: Atyp Text;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(14, 15, 31, 1);
	}
}
.formv1{
	width: 509px;
	min-width: 409px;
	margin-left: 30px;
	&__ss1 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__ss2 {
		width: 100%;
		 display: flex;

	}
}
.inp1_wrp {
	width: calc(48%);
	position: relative;
	background: var(--gradient-stroke, linear-gradient(90deg, #E36385 0%, #7540EF 100%));
	padding: 1px;
	border-radius: 8px;
	margin-bottom: 8px;
	&:nth-child(1) {
		 margin-right: 16px;
	}
}
.inp1_wrp_full{
	width: 100%;
}
.inp1 {
	width: 100%;
	color: #F2F2F9;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	// text-transform: capitalize;
	display: flex;
	padding: 13px 0px;
	border-radius: 8px;
	//background: #0E0F1F;
	border: none;

	&::placeholder {
		 color: #888888;
		 font-size: 14px;
		 font-style: normal;
		 font-weight: 400;
		 line-height: 22px;
		 text-transform: capitalize;
	}
}
.btnsubm1 {
	display: flex;
	padding: 15px;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 56px;
	border: none;
	background: #7540EF;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	transition: 0.24s;

	&:hover {
		 opacity: 0.8;
	}
}

.btnsubm2 {
	margin-left: 4px;
	display: flex;
	width: 54px;
	min-width: 54px;
	height: 54px;
	min-height: 54px;
	justify-content: center;
	align-items: center;
	border-radius: 56px;
	background: #7540EF;
	border: none;
	transition: 0.24s;

	&:hover {
		 opacity: 0.8;
	}
}
.contactus__img{
	width: 100%;
	max-width: 810px;
	display: flex;
}
.contactus__img-1{
	width: 100%;
	img{
		width: 100%;
	}
}
.contactus__img-2{
	width: 100%;
	display: none;
	img{
		width: 100%;
	}
}

@media (max-width: 1160px) {
	.contactus__info{
		h1{
			font-size: 56px;
		}
		h2{
			font-size: 32px;
		}
		p{
			font-size: 20px;
		}
	}
}
@media (max-width: 860px) {
	.header__menu{
		display: none;
	}
	.contactus{
		.container{
			display: flex;
			flex-direction: column;
		}
	}
	.contactus__info{
		display: flex;
		flex-direction: column;
		align-items: center;
		h1{
			font-size: 48px;
			text-align: center;
		}
		h2{
			font-size: 24px;
			text-align: center;
		}
		p{
			font-size: 16px;
			text-align: center;
		}
	}
	.contactus__img-1{
		display: none;
	}
	.contactus__img-2{
		display: block;
		max-height: 700px;
		//margin: 0 auto;
	}
}
//											OUR SERVICES////////////////////////////
.ourservices {
	.container {
		width: 100%;
		max-width: 1410px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.ourservices__title {
	width: 395px;
	height: 64px;
	margin: 32px auto;
	h2{
		margin: 0px;
		font-family: Atyp Display;
		font-size: 56px;
		font-weight: 500;
		line-height: 64px;
		letter-spacing: 0em;
		text-align: center;
		span{
			color: rgba(99, 150, 227, 1)
		}
	}
}
.ourservices__info1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.ourservices__info1-text {
	width: 100%;
	max-width: 760px;
	h3{
		font-family: Atyp Display;
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		span{
			color: rgba(99, 150, 227, 1);
		}
	}
	p{
		font-family: Atyp Text;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	ul{
		list-style: none;
		padding-left: 0;
		li{
			margin-bottom: 4px;
			&::before {
				content: ""; /* Создаем псевдоэлемент */
				display: inline-block;
				width: 18px; /* Укажите ширину изображения */
				height: 18px; /* Укажите высоту изображения */
				background-image: url('/img/circle-check.png');
				background-size: cover; /* Растягиваем изображение, чтобы оно заполнило маркер */
				margin-right: 9px; /* Отступ между маркером и текстом */
				margin-top: -4px;
				vertical-align: middle; /* Выравниваем маркер по вертикали */
			}
		}
	}
}
.ourservices__info1-img {
	width: 100%;
	max-width: 550px;
}
.ourservices__info2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.ourservices__info2-img {
	width: 100%;
	max-width: 550px;
}
.ourservices__info2-text {
	width: 100%;
	max-width: 760px;
	h3{
		font-family: Atyp Display;
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		span{
			color: rgba(99, 150, 227, 1);
		}
	}
	p{
		font-family: Atyp Text;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	ul{
		list-style: none;
		padding-left: 0;
		li{
			margin-bottom: 4px;
			&::before {
				content: ""; /* Создаем псевдоэлемент */
				display: inline-block;
				width: 18px; /* Укажите ширину изображения */
				height: 18px; /* Укажите высоту изображения */
				background-image: url('/img/circle-check.png');
				background-size: cover; /* Растягиваем изображение, чтобы оно заполнило маркер */
				margin-right: 9px; /* Отступ между маркером и текстом */
				margin-top: -4px;
				vertical-align: middle; /* Выравниваем маркер по вертикали */
			}
		}
	}
}
@media (max-width: 1160px){
	.ourservices__info1{
		flex-direction: column;
		align-items: center;
	}
	.ourservices__info2{
		flex-direction: column-reverse;
		align-items: center;
	}
}
//								MARKET SUMMARY////////////////////////////
.marketsummary {
	.container{
		max-width: 1920px;
		display: flex;
		flex-direction: column;
		h2{
		font-family: Atyp Display;
		font-size: 56px;
		font-weight: 500;
		line-height: 64px;
		letter-spacing: 0em;
		text-align: left;
		margin-left: 13.2%;
		span{
			color: #6396E3;
		}
		}
	}
}
.marketcarousel {
	height: 170px;
	width: 100%;
	max-width: 1920px;
	background-color: #1F2030;
	text-align: center;
	color: #F2F2F9;
}
//													PRINCIPAL/////////////////////////
.principal {
	max-height: 560px;
	margin-bottom: 80px;
	.container {
		max-width: 1410px;
		display: flex;
		flex-direction: row;
		
	}
}
.principal__info {
	max-width: 760px;
	width: 100%;
	h2{
		margin: 0px;
		font-family: Atyp Display;
		font-size: 56px;
		font-weight: 500;
		line-height: 64px;
		letter-spacing: 0em;
		text-align: left;
		}
	p{
		font-family: Atyp Text;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		}
}
.principal__img {
	width: 100%;
	max-width: 550px;
	img{
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 1380px){
	.principal__info{
		h2{
			font-size: 40px;
	}
}
}
@media (max-width: 1140px){
	.principal__info{
		h2{
			line-height: 40px;
			font-size: 32px;
		}
	}
}
@media (max-width:960px){
	.principal{
	max-height: 1000px;
		.container{
			max-height: 1000px;
			flex-direction: column;
			align-items: center;
		}
	}
	.principal__info{
	}
	.principal__img{
		max-width: 550px;
		margin: 20px auto;
	}
}
//										BENEFITS/////////////////////////////////
.benefits {
	max-width: 1920px;
	background-color: #1F2030;
	.container {
		max-width: 1270px;
		padding-bottom: 24px;
		h2{
		font-family: Atyp Display;
		font-size: 64px;
		font-weight: 500;
		line-height: 64px;
		letter-spacing: 0em;
		text-align: left;
		color: #6396E3;
		text-transform: uppercase;
		}
	}
}
.benefits__cards {
	width: 100%;
	max-width: 1270px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 24px;
}
.benefits__card {
	width: 30%;
	border: 3px solid blue;
	background-color: #15172B;
	padding: 16px 0;
	border-radius: 16px;
	img{
		margin-top: 5%;
		position: relative;
		left: 15%;
	}
	p{
		width: 70%;
		position: relative;
		left: 15%;
		color: #F7F7F7;
		span{
		color: #6396E3;
		}
	}
}
@media (max-width:1140px){
	.benefits__card{
		p{
			left: 7.5%;
			width: 85%;
		}
		img{
			left: 7.5%;
		}
	}
}
@media (max-width:960px){
	.benefits__cards{
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	.benefits__card{
		min-width: 350px;
		width: 90%;
		margin: 10px 0px;
	}
}
//									BIG GUYS//////////////////////////////

.bigguys {
	display: none;
	width: 100%;
	max-width: 1920px;
	.container{
		max-height: 800px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
.bigguys__info {
	left: 10%;
	position: relative;
	border: 2px solid black;
	width: 500px;
	h2{
		font-family: Atyp Display;
		font-size: 64px;
		font-weight: 500;
		line-height: 74px;
		letter-spacing: 0em;
		text-align: left;
		span{
			color: #6396E3;
		}
	}

}
.bigguys__info-pictures {
}
.bigguys__img {
	position: relative;
	float: right;
	height: 100%;
}