body {
  background-color: #fff;
  font-family: "Atyp Text";
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

.smoothscrl {
  scroll-behavior: smooth;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header {
  width: 100%;
  padding: 20px 0;
}
.header .container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  border-radius: 590px;
  border: 0.5px solid black;
  padding: 12px 32px;
  transition: 0.24s;
}
.header__menu:hover {
  border: 0.5px solid var(--bg-dark-text, #6396E3);
  color: #6396E3;
}
.header__menu a {
  color: var(--bg-dark-text, #0E0F1F);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  transition: 0.24s;
  margin: 0px 8px;
}
.header__menu a:hover {
  color: #6396E3;
}

.header__call {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 99px;
  background: var(--main, #0047B1);
  padding: 12px 23px 10px 23px;
  transition: 0.24s;
}
.header__call:hover {
  opacity: 0.8;
}

.contactus {
  padding-top: 80px;
}
.contactus .container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contactus .container .formv1 {
  margin-left: 0;
}
.contactus .container .inp1 {
  background-color: #3C3C50;
}

.contactus__info {
  width: 100%;
  max-width: 791px;
}
.contactus__info h1 {
  max-width: 791px;
  max-height: 148px;
  padding-bottom: 24px;
  font-family: Atyp Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
.contactus__info h2 {
  max-width: 791px;
  max-height: 96px;
  font-family: Atyp Display;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #6396E3;
  padding-bottom: 24px;
}
.contactus__info p {
  font-family: Atyp Text;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(14, 15, 31);
  padding-bottom: 24px;
}

.formv1 {
  max-width: 509px;
  width: 90%;
}
.formv1__ss1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.formv1__ss2 {
  width: 100%;
  display: flex;
}

.inp1_wrp {
  max-width: 50%;
  width: 48%;
  position: relative;
  padding: 4px 2px;
  border-radius: 8px;
}

.inp1_wrp_full {
  max-width: 100%;
  width: 100%;
}

.inp1 {
  width: 100%;
  color: #F2F2F9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  padding: 13px 0px;
  border-radius: 8px;
  background: #15172B;
  border: none;
}
.inp1::placeholder {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: capitalize;
  padding-left: 16px;
}

.btnsubm1 {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  border: none;
  background: #0047B1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: 0.24s;
}
.btnsubm1:hover {
  opacity: 0.8;
}

.btnsubm2 {
  margin-left: 4px;
  display: flex;
  width: 54px;
  min-width: 54px;
  height: 54px;
  min-height: 54px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: #0047B1;
  border: none;
  transition: 0.24s;
}
.btnsubm2:hover {
  opacity: 0.8;
}

.contactus__img {
  width: 100%;
  max-width: 810px;
  display: flex;
}

.contactus__img-1 {
  width: 100%;
}
.contactus__img-1 img {
  width: 100%;
}

.contactus__img-2 {
  width: 100%;
  display: none;
}
.contactus__img-2 img {
  width: 100%;
}

@media (max-width: 1160px) {
  .contactus__info h1 {
    font-size: 56px;
  }
  .contactus__info h2 {
    font-size: 32px;
  }
  .contactus__info p {
    font-size: 20px;
  }
}
@media (max-width: 860px) {
  .header__menu {
    display: none;
  }
  .contactus .container {
    display: flex;
    flex-direction: column;
  }
  .contactus__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactus__info h1 {
    font-size: 48px;
    text-align: center;
  }
  .contactus__info h2 {
    font-size: 24px;
    text-align: center;
  }
  .contactus__info p {
    font-size: 16px;
    text-align: center;
  }
  .contactus__img-1 {
    display: none;
  }
  .contactus__img-2 {
    display: block;
    aspect-ratio: 1;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .contactus__info {
    width: 90%;
  }
  .contactus__info h1 {
    line-height: 40px;
    font-size: 40px;
  }
  .contactus__info h2 {
    line-height: 24px;
  }
}
.ourservices .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  box-sizing: border-box;
}

.ourservices__title {
  width: 395px;
  height: 64px;
  margin-bottom: 32px;
}
.ourservices__title h2 {
  font-family: Atyp Display;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.ourservices__title h2 span {
  color: rgb(99, 150, 227);
}

.ourservices__info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
}

.ourservices__info1-text {
  width: 100%;
  max-width: 760px;
}
.ourservices__info1-text h3 {
  font-family: Atyp Display;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.ourservices__info1-text h3 span {
  color: rgb(99, 150, 227);
}
.ourservices__info1-text p {
  font-family: Atyp Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}
.ourservices__info1-text ul {
  list-style: none;
}
.ourservices__info1-text ul li {
  margin-bottom: 12px;
  padding-left: 24px;
  background-image: url("../img/circle-check.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  line-height: 24px;
}

.ourservices__info1-img {
  width: 100%;
  max-width: 550px;
}
.ourservices__info1-img img {
  width: 100%;
}

.ourservices__info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ourservices__info2-img {
  width: 100%;
  max-width: 550px;
}
.ourservices__info2-img img {
  width: 100%;
}

.ourservices__info2-text {
  width: 100%;
  max-width: 760px;
}
.ourservices__info2-text h3 {
  font-family: Atyp Display;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.ourservices__info2-text h3 span {
  color: rgb(99, 150, 227);
}
.ourservices__info2-text p {
  font-family: Atyp Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}
.ourservices__info2-text ul {
  list-style: none;
  padding-left: 0;
}
.ourservices__info2-text ul li {
  margin-bottom: 12px;
  margin-bottom: 12px;
  padding-left: 24px;
  background-image: url("../img/circle-check.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  line-height: 24px;
}

@media (max-width: 1160px) {
  .ourservices__info1 {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .ourservices__info2 {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
}
.marketsummary h2 {
  font-family: Atyp Display;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.marketsummary h2 span {
  color: #6396E3;
}
.marketcarousel {
  height: 170px;
  width: 100%;
  max-width: 1410px;
  background-color: rgb(31, 32, 48);
  text-align: center;
  color: #F2F2F9;
}

.principal {
  max-height: 560px;
  margin-bottom: 80px;
}
.principal .container {
  display: flex;
  flex-direction: row;
}

.principal__info {
  max-width: 760px;
  width: 100%;
}
.principal__info h2 {
  margin: 0px;
  font-family: Atyp Display;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 24px;
}
.principal__info h2 span {
  color: #6396E3;
}
.principal__info p {
  font-family: Atyp Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.principal__img {
  width: 100%;
  max-width: 550px;
}
.principal__img img {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1380px) {
  .principal__info h2 {
    font-size: 40px;
  }
}
@media (max-width: 1140px) {
  .principal__info h2 {
    line-height: 40px;
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .principal {
    max-height: 1000px;
  }
  .principal .container {
    flex-direction: column;
    align-items: center;
  }
  .principal__info {
    width: 90%;
  }
  .principal__info h2 {
    line-height: 32px;
    font-size: 24px;
  }
  .principal__img {
    max-width: 550px;
    margin: 20px auto;
  }
}
.benefits .container {
  padding-bottom: 24px;
  background-color: #1F2030;
}
.benefits .container h2 {
  font-family: Atyp Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-transform: uppercase;
  padding: 40px 0px;
}
.benefits .container h2 span {
  color: #6396E3;
}

.benefits__cards {
  margin-top: 24px;
  width: 100%;
  max-width: 1270px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 24px;
}

.benefits__card {
  width: 30%;
  border: 3px solid #6396E3;
  background-color: #15172B;
  padding: 16px 0;
  border-radius: 16px;
}
.benefits__card img {
  max-width: 70px;
  margin: 8% 0;
  position: relative;
  left: 10%;
}
.benefits__card p {
  width: 70%;
  position: relative;
  left: 10%;
  color: white;
  line-height: 24px;
}
.benefits__card p span {
  color: #6396E3;
}

@media (max-width: 1140px) {
  .benefits__card p {
    left: 7.5%;
    width: 85%;
  }
  .benefits__card img {
    left: 7.5%;
  }
}
@media (max-width: 960px) {
  .benefits__cards {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .benefits__card {
    min-width: 350px;
    width: 90%;
    margin: 10px 0px;
  }
  .benefits__card img {
    margin-top: 0px;
  }
}
.bigguys {
  width: 100%;
}
.bigguys .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bigguys__info {
  width: 100%;
  max-width: 765px;
  min-height: 269px;
  position: relative;
}
.bigguys__info h2 {
  padding: 24px 0px;
  font-family: Atyp Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
.bigguys__info h2 span {
  color: #6396E3;
}

.bigguys__info-pictures {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
}
.bigguys__info-pictures img {
  width: fit-content;
  height: 100%;
  margin: 0px 20px;
}

.bigguys__img img {
  position: relative;
  width: 110%;
  right: 10%;
  max-width: 900px;
}

@media (max-width: 1280px) {
  .bigguys__info h2 {
    font-size: 52px;
  }
}
@media (max-width: 1010px) {
  .bigguys .container {
    flex-direction: column;
  }
  .bigguys__img {
    width: 100%;
    height: 100%;
  }
  .bigguys__img img {
    width: 100%;
    height: 100%;
    right: 0%;
  }
}
.btmform {
  min-height: 334px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.btmform .container {
  background-image: url("../img/photo_2023-10-06_22-01-30.jpg");
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.titlewgrad {
  font-style: normal;
  font-weight: normal;
  max-width: 625px;
  display: block;
  color: #6396E3;
  margin-right: 30px;
  font-family: "Atyp Display";
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  text-transform: uppercase;
}
.titlewgrad span {
  font-style: normal;
  font-weight: normal;
  color: white;
  font-family: "Atyp Display";
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  text-transform: uppercase;
}

@media (max-width: 1220px) {
  .titlewgrad {
    max-width: 580px;
    margin-right: 30px;
    font-size: 54px;
    line-height: 64px;
  }
  .titlewgrad span {
    font-size: 54px;
    line-height: 64px;
  }
}
@media (max-width: 992px) {
  .btmform .container {
    flex-direction: column;
    align-items: center;
  }
  .btmform .titlewgrad {
    text-align: center;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .btmform .formv1 {
    margin-left: 0;
    min-width: 200px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .titlewgrad {
    font-size: 35px;
    line-height: 120%;
  }
  .titlewgrad span {
    font-size: 35px;
    line-height: 120%;
  }
  .btnsubm1 {
    font-size: 14px;
  }
}
@media (max-width: 359px) {
  .formv1__ss1 {
    flex-direction: column;
  }
  .inp1_wrp {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .titlewgrad {
    font-size: 30px;
  }
  .titlewgrad span {
    font-size: 30px;
  }
}
.footer {
  width: 100%;
  height: 305px;
  background-color: #0E0F1F;
}
.footer .container {
  margin: 0 auto;
  max-width: 1410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer__logomenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  width: 60%;
  max-width: 710px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu a {
  text-transform: uppercase;
  color: white;
  margin: 0px 8px;
  line-height: 24px;
}

.footer__copyrights p {
  width: 100%;
  font-family: Atyp Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: lightgrey;
  padding-top: 16px;
  border-top: 2px solid #6396E3;
}

@media (max-width: 1010px) {
  .footer__logomenu {
    flex-direction: column;
  }
  .footer__menu {
    padding: 8px 0;
    justify-content: space-evenly;
    width: 65%;
  }
  .footer__copyrights p {
    text-align: center;
  }
}